.wrapper {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
}


.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }
  
  /* @media (min-width: 576px) {
    .jumbotron {
      padding: 4rem 2rem;
    }
  } */

.jumbotron h1 {
    font-family: Times;
    text-align: center;
    font-weight: 800;
    margin-bottom: 0;
}

.jumbotron p {
    font-family: Times;
    font-style: italic;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

h5 {
    font-weight: bold;
}

label {
    font-weight: bold;
}

.container {
    opacity: .9;
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343a40; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
