/* body {
    font-family: 'Major Mono Display', monospace;
} */
.wrapper {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
}

.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}
  
.jumbotron h1 {
    font-family: Times;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
    font-family: 'Nobile', sans-serif;
}

.jumbotron p {
    font-family: Times;
    /* font-style: italic; */
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Nobile', sans-serif;
}

.navbar{
    background-color:  #ffffff;
}
h5 {
    /* font-weight: bold; */
    font-family: 'Nobile', sans-serif;
}

label {
    font-weight: bold;
}

.container {
    opacity: .9;
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343a40; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
